
/*
  Author:RoktimSazib
  url:http://www.codingavatar.com
  description:UFJ-LP project
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
*:focus{
  outline: none;
}

a {
  text-decoration: none;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt and reset code
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
body{
  padding-top: 100px;
  font-family: "Yu Gothic", "游ゴシック体", YuGothic, sans-serif, "Oxygen Mono";
  font-weight: bold;
  min-width: 1000px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.fix{
  overflow: hidden;
}

span.rad{
  color: #E60A19;
}
/* ==========================================================================
   sazib custom styles
   ========================================================================== */
.header_area{
  width: 100%;
  background-color: #E60A19;
  height: 100px;
  position: fixed;
  top:0;
  z-index: 9;
  left: 0;
  transition: .3s;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  float: left;
  width: 300px;
  margin-top: 7px;
}
.logo img{
  max-width: 286px;
  margin-top: 13px;
  margin-left: -2px;
}
.nav-menu {
  float: left;
  margin-top: 11px;
}
.social-icon{
  float: left;
  width: 426px;
  margin-top: 12px;
  margin-left: 33px;
}
.social-icon ul{
  margin-left:13px;
}
li.twitter {
  margin-top: 10px;
  margin-right: 9px;
}
li.fb {
    margin-right: 7px;
}
li.top_btn{
  margin-top: -3px;
  margin-left: 0px;
}
.social-icon ul li {
    float: left;
}
.social-icon ul li a:hover{
  opacity: 0.8;
}
.inner_header {
    margin-top: 10px;
    overflow: hidden;
}
.nav-menu{
  width: 540px;
 float: left;
}
.nav-menu ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.nav-menu ul li:first-child{
  float: left;
}
.nav-menu ul li:nth-child(2){
  float: left;
}
.nav-menu ul li:last-child {
    margin-right: 0px;
}
.nav-menu ul li:nth-child(1) img{
  max-width: 172px;
}
.nav-menu ul li:nth-child(2) img{
  max-width: 192px;
}
.nav-menu ul li:nth-child(3) img{
  max-width: 176px;
}
.fb img{
  max-width: 36px;
  margin-top: 10px;
  position: relative;
  left: 10px;
}
.twitter img{
  max-width: 36px;
  position: relative;
}
.top_btn img{
  max-width: 300px;
  position: relative;
  left: 25px;
}
.nav-menu ul li a:hover{
  opacity: 0.8;
}
/*BANNER SECTION*/
.banner img{
  max-width: 100%;
}
/*secent area*/
.secant_area{
  background-color: #E60A19;
}
.secant_area_iner{
  width: 100%;
  overflow: hidden;
  padding-top: 42px;
  padding-bottom: 44px;
}
.left_part{
  float: left;
  width: 60%;
  margin-right: 16px;
  margin-top: 37px;
  margin-left: 7px;
  position: relative;
  left: -1px;
}
.right_part{
  float: left;
  width: 30%;
}
.left_part img{
  max-width: 606px;

}
.right_part img{
  max-width: 376px;
}
.left_part p{
  color: #FFF;
  line-height: 34px;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  font-size: 20px;
  letter-spacing: -1.1px;
}
.center{
  text-align: center;
  margin: 0;
  padding: 0;
}
.top-marging{
  margin-top: 34px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
  position: relative;
  letter-spacing: -1px;
}
/*3rd area*/
.third_area{
  background-color:#FAFAFA;
  padding-top: 77px;
}
.top-header img{
  max-width: 645px;
}
.a_number{
  width: 101%;
  overflow: hidden;
  position: relative;
  padding-bottom: 186px;
  margin-top: -14px;
}
.q1{
  width: 450px;
  margin-right: 72px;
  float:left;
}
.q2{
  width: 480px;
  float: left;
  position: relative;
  top: 97px;
}
.q1 img{
  max-width: 424px;
}
.q2>img{
  position: relative;
  max-width: 390px;
  top: 0;
}
.animation_image {
  position: absolute;
  top: 0px;
  right: -8px;
}
.animation_image img {
  width: 242px;
  position: relative;
}
.q3{
  width: 500px;
  float: left;
  position: relative;
  top: 58px;
  left: 2px;
}
.q4 {
  width: 500px;
  float: left;
  position: relative;
  left: 21px;
  top: 136px;
}
.q3>img{
  max-width: 462px;
}
.animation_image2 img {
  width: 290px;
}
.animation_image2 {
    position: absolute;
    top: 413px;
    left: 267px;
}

.q4>img{
  max-width: 462px;
  position: relative;
}
.animation_image4{
  position: absolute;
  top: 972px;
  right: 30px;
}
.animation_image4 img{
  width: 148px;
}
.man_voice{
  width: 450px;
  clear: both;
  position: absolute;
  bottom: -2px;
  left: 59px;

}
.man_voice img{
  max-width: 465px;
}

/*fourth area*/
.fourth_area{
  background-color: #E60A19;
}
.fourth_area_inner{
  padding-top: 45px;
  padding-bottom: 49px;
}
.fourth_area_inner img{
  max-width: 922px;
  margin: 0 auto;
  display: block;
}
/*fivth section*/
.top-header2 img{
  max-width: 553px;
  margin-left: 15px;
  margin-top: 4px;
}
.fivth_area{
  padding-top: 82px;
}
.center_btn{
  margin-top: 64px;
}
.center_btn img{
  max-width: 542px;
}
.center_btn2{
  position: relative;
  margin-top: 41px;
}
.center_btn2 img{
  max-width: 542px;
  margin-left: 150px;
}
.fast_row{
  overflow: hidden;
}
.fast_img{
  width: 15%;
  float: left;
  position: relative;
  top: -129px;
  left: -16px;
}
.fast_img img{
    max-width: 197px;
    position: absolute;
}
.medil_img{
  overflow: hidden;
  max-width: 70%;
  width: 100%;
  margin-top: 23px;
  margin-left: 15%;
}
.medil_img img:first-child{
  max-width: 300px;
  float: left;
  margin-left: 25px;
  margin-right: 50px;
  position: relative;
}
.medil_img img:nth-child(2){
  max-width: 300px;
  float: left;
}
.last_img{
  width: 15%;
  float: right;
  position: relative;
  top: -8px;
  right: 11px;
}
.last_img img{
  max-width: 179px;
}
.thumb3{
  width: 100%;
  margin-top: 25px;
}
.thumb3 img:first-child{
  width: 30%;
  margin-right: 4.4%;
}
.thumb3 img:nth-child(2){
  width: 30%;
  margin-right: 4.4%;
}
.thumb3 img:last-child{
  width: 30%;
}
.table{
  width: 100%;
}
.table img{
  max-width: 100%;
  margin-top: 47px;
}
.femail-voice{
  width: 100%;
  overflow: hidden;

}
.femail-voice img{
  float: right;
  max-width: 656px;
  margin-top: 2px;
}

/*six section*/
.six_area{
  background-color: #E60A19;
}
.six_area_inner{
  width: 100%;
  padding-top: 46px;
  padding-bottom: 48px;
  text-align: center;
}
.six_area_inner img{
  margin-left: 18px;
  max-width: 938px;
  position: relative;
}
/*SAVEN SECTION*/
.seven_secton{
  background-color: #F5F5F5;
  padding-top: 59px;
}
.image1{
  text-align: center;
}
.image1 img{
  max-width: 855px;
  text-align: center;
}
.image2{
  margin-top: 38px;
}
.image2 img{
  max-width: 451px;
  position: relative;
  left: 2px;
}
.circle_thumb{
  width: 100%;
  margin-top: 36px;
  overflow: hidden;
  text-align: center;
}
.circle1,.circle2,.circle3{
  width: 260px;
  float: left;
}
.circle1{
  margin-left: 85px;
  margin-right: 32px;
}
.circle2{
  margin-right: 26px;
}
.circle1 img{
max-width: 253px;
}
.circle2 img{
  max-width: 260px;
}
.circle3 img{
  max-width: 253px;
}

.bg img{
  max-width: 100%;
}
.list_content{
  clear: both;
  background-image: url(../img/@2x/border_new@2x.png);
  background-repeat: no-repeat;
  max-width: 1000px;
  background-size: 100% 100%;
  margin-top: 36px;
  margin-left: -3px;
}

.row_list.fast-element{
  padding-top: 61px;
  padding-left: 61px;
}
.row_list{
  overflow: hidden;
  padding-top: 18px;
  padding-left: 62px;
}
.row_list._2{
  padding-top: 17px;
}
.row_list._3 {
    padding-top: 18px;
}
.row_list._4 {
    padding-top: 17px;
}
.row_list.ppfix._5 {
    padding-top: 18px;
}
.row_list.ppx_row._6 {
    padding-top: 16px;
}
.row_list._7 {
    padding-top: 16px;
}
.circle_thumb_list.c1 {
    width: 89px;
    margin-top: 2px;
}
.circle_thumb_list.c2 {
    width: 98px;
    margin-top: 2px;
}
.row_list.ppr3._11 {
    margin-top: -3px;
}
.details._12_dtl {
    margin-top: -11px;
}
.details.ppx5.ppx6 {
    margin-top: -14px;
}
.details>p{
  margin: 0;
  padding: 0;
  margin-top: 12px;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
}

.row_list.ppx_row{
  padding-top: 15px;
}
.details.ppx1>p{
  margin-top: 0px;
}
.details.ppx2>p{
  margin-top: 12px;
}
.row_list.ppr1{
  padding-top: 16px;
}
.row_list.ppr2{
  padding-top: 16px;
}
.details.ppx3>p{
 margin-top: 0px;
}
.details.ppx4>p{
  margin-top: 10px;;
}
.row_list.ppr4{
  padding-top: 15px;
}
.row_list.ppr5{
  padding-top: 16px;
}
.details.ppx5>p{
 margin-top: 20px;
}
.details.ppx6>p{
 margin-top: 16px;
}
.circle_thumb_list{
  width: 10%;
  float: left;
}
.details{
  width: 80%;
  float: left;
  margin-left: 8px;
}
.last-element{
  padding-bottom: 6%;
}
.circle_thumb_list img{
  width: 73px;
}
.two-image{
  width: 70%;
  margin-top: 3px;
  margin-left: 5px;
}
.bottom_img img {
    max-width: 1029px;
    position: relative;
    left: 18px;
}
/*FOOTER BANNER SECTION*/
.footer_banner{
  background-color:#F5F5F5;
  max-width: 100%;
}
.bottom_img {
    text-align: center;
    padding-top: 42px;
}
/*Footer top section*/
.footer-top{
  background-color: #E60A19;
}
.card-banner{
  text-align: center;
  padding-top: 24px;
  padding-bottom: 23px;
}
.card-banner img {
    width: 610px;
    position: relative;
    left: -1px;
}
/*footer section*/
.footer-area{
  background-color:#000000;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer-inner p{
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -6px;
  margin-left: -11px;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
*Banner section
*@author<Utpal Biswas>
*/
body{
  width: 100%;
  height: 100%;
}
.banner_area{
  background-image: url('../img/@2x/green-banner.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  min-height: 500px;
  width: 100%;
  position: relative;
}
.banner_area > .banner{
  width: 100%;
  height: 100%;
}
.banner_area > .banner > .banner_inner{
  height: 100%;
  width: 100%;
}
.banner_area > .banner > .banner_inner > .peoples{

  width: 1000px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.banner_area > .banner > .banner_inner > .peoples > .person{
float: left;
  position: absolute;
}
.banner_area > .banner > .banner_inner > .peoples > .person1{
  background-image: url('../img/sprite_chars_1.png');
  background-position: -60px 0;
  background-repeat: no-repeat;
  background-size: 320px 2400px;
  height: 480px;
  width: 235px;
  margin-top: 20px;
  left:0;
  z-index: 1;
}
.banner_area > .banner > .banner_inner > .peoples > .person2{
  background-image: url('../img/sprite_chars_2.png');
  background-position: -48px 0;
  background-repeat: no-repeat;
  background-size: 320px 2400px;
  height: 480px;
  width: 208px;
  margin-top: 20px;
  left:200px;
  z-index: 2;
}
.banner_area > .banner > .banner_inner > .peoples > .person3{
   background-image: url('../img/sprite_chars_3.png');
   background-position: -55px 0;
   background-repeat: no-repeat;
   background-size: 320px 2400px;
   height: 480px;
   width: 195px;
   margin-top: 20px;
  left: 405px;
  z-index: 3;
 }
.banner_area > .banner > .banner_inner > .peoples > .person4{
  background-image: url('../img/sprite_chars_4.png');
  background-position: -17px 0;
  background-repeat: no-repeat;
  height: 480px;
  width: 298px;
  margin-top: 20px;
  left: 505px;
  z-index: 4;
}

.banner_area > .banner > .banner_inner > .peoples > .person5{
  background-image: url('../img/sprite_chars_5.png');
  background-position: -25px 0;
  background-repeat: no-repeat;
  height: 480px;
  width: 320px;
  margin-top: 20px;
  right: -90px;
  z-index: 5;
}


/* cushion page */

.cushion_header_area {
  width: 100%;
  height: 54px;
  position: fixed;
  top:0;
  z-index: 9;
  left: 0;
  border-bottom: medium solid #e6e6e6;
}

.cushion_inner_header {
  min-width: 1000px;
}

.cushion_header_area .left_logo {
  float: left;
  width: 155px;
  margin-top: 9px;
  margin-left: 24px;
}

.cushion_header_area .right_logo {
  float: right;
  width: 192px;
  margin-top: 19px;
  margin-right: 24px;
}

.link_area {
  text-align: center;
}

.link_area h2 {
  font-size: 1.3em;
}

.link_area p {
  margin-top: 46px;
  font-size: 18px;
  line-height: 30px;
}

.logo_box {
  margin-top: 49px;
}

.logo_box .left_logo {
  width: 206px;
  margin-right: 21px;
}

.logo_box .right_logo {
  width: 264px;
}

.link_btn_box {
  margin-top: 50px;
  margin-bottom: 57px;
}

.link_btn_box img {
  width: 242px;
}

.cushion_footer-area {
  width: 100%;
  height: 54px;
  position: fixed;
  bottom: 0;
  z-index: 9;
  left: 0;
  border-top: medium solid #e6e6e6;
}

.cushion_footer-area p {
  float: left;
  margin-left: 12px;
  font-size: 12px;
}
