
/*
  Author:oceanizeBD
  description:UFJ-LP project
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
*:focus{
  outline: none;
}
textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt and reset code
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.fix{
  overflow: hidden;
}

span.rad {
  color: #E60A19;
  font-weight: bold;
}
/* ==========================================================================
  custom styles
   ========================================================================== */
.header_area {
  width: 100%;
  background-color: #E60A19;
  position: fixed;
  top: 0;
  z-index: 9;
  left: 0;
  transition: .3s;
}

.content-part img{max-width:100%;}

.container{
  width: 95%;
  margin: 0 auto;
}
.header_inner {
  text-align: center;
  padding: 18px 0px;
}
.logo {
    width: 75%;
    float: left;
    margin-left: 3%;
}

nav {
  width: 25%;
  float: right;
}

.logo img {
    max-width: 100%;
}
.nav_icon {
    float: right;
    width: 15%;
}

.nav_icon img {
    max-width: 54px;
}
nav.mobile_menu{
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  top: 0;
}
li.item1 img{max-width: 353px;}
li.item2 img{max-width: 565px;}
li.item3 img{max-width: 198px;}
span.arrow_icon img{
  max-width:26px;
  float: right;
  margin-top:2%;
}
li.item1 {
    padding-top: 5%;
    padding-bottom: 5%;
}
li.item2 {
    padding-top: 5%;
    padding-bottom: 5%;
}
li.item3 {
    padding-top: 5%;
    padding-bottom: 5%;
}

/*NAV CONTROLL*/
#show{
  display: none;
}


/*BANNNER SECTION*/
.top_banner{
  width: 100%;
}
.top_banner img{
  max-width: 100%;
}
a.twitter img{
  max-width:96px;
  margin-right: 19px;
}
a.facebook img{
  max-width:96px;
  margin-right: 40px;
}
a.yeallo_btn img{
  max-width:424px;
}

/*SECENT SECTION*/
.two_section_inner{
  padding-top: 5%;
  position: relative;
}
.two_section{
  background-color: #E60A19;
}

.card img{
  max-width: 274px;
}
.card{
  position: relative;
      right: -61%;
      display: inline-block;
      top: -234px;
}
._text{
  position: relative;
    top: -340px;
}
._text img{
  max-width: 524px;
}

/*six section*/
.six_area {
  background-color: #E60A19;
  float: left;
  width: 100%;
}
.six_area_inner{
  width: 100%;
  padding-top: 73px;
  padding-bottom: 64px;
  text-align: center;
}
.six_area_inner img{
  margin-left: 18px;
  max-width: 957px;
  position: relative;
  left: 1px;
}
/*SAVEN SECTION*/
.seven_secton{
  background-color: #F5F5F5;
  padding-top: 40px;
}
.image1{
  text-align: center;
}
.image1 img{
  max-width: 855px;
  text-align: center;
}
.image2{
  margin-top: 38px;
}
.image2 img{
  max-width: 451px;
  position: relative;
  left: 2px;
}
.circle_thumb{
  width: 100%;
  margin-top: 36px;
  overflow: hidden;
  text-align: center;
}
.circle1,.circle2 {
  margin-right:2%;
  width: 32%;
  float: left;
}

.circle3 {
  width: 32%;
  float: left;
}

.circle1 img,
.circle2 img,
.circle3 img{
  max-width: 92%;
}

.bg img{
  max-width: 100%;
}
.message {
  max-width: 100%;
}
/*FOOTER BANNER SECTION*/
.footer_banner {
  background-color: #F5F5F5;
  max-width: 100%;
  padding-top: 25px;
}
.bottom_img img{
    text-align: center;
    padding-top: 5px;
    max-width: 100%!important;
}

.message-box{
  margin-top:35px;
}
/*Footer top section*/
.footer-top{
  background-color: #E60A19;
}
.card-banner{
  text-align: center;
  padding-top: 9px;
  padding-bottom: 23px;
}
.card-banner img {
  max-width: 75%;
  position: relative;
}
/*footer section*/
.footer-area {
  background-color: #000000;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
  width: 100%;
}
.footer-inner p {
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  margin-top: -6px;
  margin-left: 0;
  font-size: 3vw;
}

.banner_area{
  background-image: url('../images/green-banner.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  width: 100%;
  position: relative;
}
.banner_area > .banner{
  width: 100%;
  height: 100%;
}
.banner_area > .banner > .banner_inner {
  height: 100%;
  width: 95%;
  margin-top: 120px;
}
.banner_area > .banner > .banner_inner > .peoples{

  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.banner_area > .banner > .banner_inner > .peoples > .person{
float: left;
position: absolute;
}

.animation-1 {
    width: 20%;
    height: 0;
    background-image: url("../images/sprite_char_1.png");
    margin: 0 auto;
    float: left;
    background-size: 503%;
    padding:15% 0;

    position: absolute;
    bottom: 0px;
    left: -2.5%;
    transform: scale(1.45);
    transform-origin: left bottom;
}
.animation-2 {
    width: 20%;
    height: 0;
    background-image: url("../images/sprite_char_2.png");
    margin: 0 auto;
    float: left;
    background-size: 503%;
    padding:15% 0;

    position: absolute;
    bottom: 0px;
    left: 15%;
    transform: scale(1.45);
    transform-origin: left bottom;
}

.animation-3 {
    width: 20%;
    height: 0;
    background-image: url("../images/sprite_char_3.png");
    margin: 0 auto;
    float: left;
    background-size: 503%;
    padding:15% 0;

    position: absolute;
    bottom: 0px;
    left: 33%;
    transform: scale(1.45);
    transform-origin: left bottom;
}

.animation-4 {
   width: 20%;
    height: 0;
    background-image: url("../images/sprite_char_4.png");
    margin: 0 auto;
    float: left;
    background-size: 503%;
    padding:15% 0;

    position: absolute;
    bottom: 0px;
    left: 47%;
    transform: scale(1.6);
    transform-origin: left bottom;
}

.animation-5 {
    width: 20%;
    height: 0;
    background-image: url("../images/sprite_char_5.png");
    margin: 0 auto;
    float: left;
    background-size: 503%;
    padding:15% 0;

    position: absolute;
    bottom: 0px;
    left: 67.5%;
    transform: scale(1.6);
    transform-origin: left bottom;
}

.banner-animate{

    -webkit-animation: play 2s steps(5) ;
       -moz-animation: play 2s steps(5) ;
        -ms-animation: play 2s steps(5) ;
         -o-animation: play 2s steps(5) ;
            animation: play 2s steps(5) ;

}

@-webkit-keyframes play {
   from { background-position:    0%; }
     to { background-position: -500%; }
}

@-moz-keyframes play {
   from { background-position:    0%; }
     to { background-position: -500%; }
}

@-ms-keyframes play {
   from { background-position:    0%; }
     to { background-position: -500%; }
}

@-o-keyframes play {
   from { background-position:    0%; }
     to { background-position: -500%; }
}

@keyframes play {
   from { background-position:    0%; }
     to { background-position: -500%; }
}

.text-part.wow.bounceIn {
animation-delay: 400ms;
}

.image-part.wow.bounceIn {
animation-delay: 1s;
}

/*FOR PIXEL PERFECT*/
/* Responsive Css */

@media only screen and (max-width: 2000px) {
nav ul {
  text-align:center;
}
nav ul li {
  display:inline-block;
}
nav ul li a {
  color:#333;
  display:inline-block;
  padding:1em 3em;
  text-decoration:none;
  border-bottom:2px solid #fff;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
  font-size:16px;
}
nav ul li a:hover {
  color: #34B484;
}

.social-icon-part {
  float: left;
  width: 40%;
  padding-bottom: 30px;
}

.social-button-part {
  float: left;
  width: 60%;
}

.twitter, .facebook {
  max-width: 35%;
  float: left;
  margin-right: 14px;
  padding-top: 24px;
}

.social-button-part img {
  max-width: 100%;
  margin-top: 15px;
}

/*styling open close button*/
.button {
  display:inline;
  position:absolute;
  right:20px;
  top:8px;
  z-index:999;
  font-size:30px;
}
.button a {
  text-decoration:none;
}
.btn-open:after {
  color:#fff;
  content:"\f0c9";
  font-family:"FontAwesome";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
  color:#fff;
}
.btn-close:after {
  color:#fff;
  content:"\f00d";
  font-family:"FontAwesome";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
  color: #fff;
}
/*overlay*/
.overlay {
  display: none;
  position: absolute;
  top: 58px;
  width: 100%;
  background: rgba(0,0,0,.8);
  overflow: auto;
  z-index: 99;
  padding-bottom: 25px;
}
.wrap {
  color:#e9e9e9;
  text-align:center;
  max-width:90%;
  margin:0 auto;
}
.wrap ul.wrap-nav li {
  font-size:20px;
  display:inline-block;
  vertical-align:top;
  width:24%;
  position:relative;
}
.wrap ul.wrap-nav li a {
  color:#34B484;
  display:block;
  padding:8px 0;
  text-decoration:none;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}

ul.wrap-nav li img {
  max-width: 100%;
}

.wrap ul.wrap-nav ul li {
  display:block;
  width:100%;
}

.social {
  font-size:25px;
  padding:20px;
}
.social p {
  margin:0;
  padding:20px 0 5px 0;
  line-height:30px;
  font-size:13px;
}
.social p a {
  color:#34B484;
  text-decoration:none;
  margin:0;
  padding:0;
}
.social-icon {
  width:80px;
  height:50px;
  background:#e9e9e9;
  color:#333;
  display:inline-block;
  margin:0 20px;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.social-icon:hover {
  background:#34B484;
  color:#f0f0f0;
}
.social-icon i {
  margin-top:12px;
}



  .wrap ul.wrap-nav>li {
    width:100%;
    padding:20px 0;
    border-bottom:1px solid #575757;
  }
  .wrap ul.wrap-nav {
    padding:30px 0px 0px;
  }
  nav ul {
    opacity:0;
    visibility:hidden;
  }
  .social {
    color:#c1c1c1;
    font-size:25px;
    padding:15px 0;
  }
  .social-icon {
    width:100%;
    height:50px;
    background:#fff;
    color:#333;
    display:block;
    margin:5px 0;
  }
.container {
  width: 95%;
  margin: 0 auto;
}


/* body design code */

section{float: left;width:100%;}

.section-first{background: #E60A19}
.section-second {
  padding: 58px 0px;
}
.content-part {
  float: left;
  width: 100%;
}
.content-part img {
  max-width: 100%;
}

.left-part,
.right-part {
  width: 50%;
  float: left;
}

.section-fourth {
  background: #E70A19;
  padding: 20px 0px;
}

.section-fifth{
padding: 20px 0;
}

.six_area img{
  max-width: 90%;
  padding: 20px 0px;
}

.section-fourth img,
.section-fifth img {
  max-width:90%;
}


.box-content-5 {
  max-width: 50% !important;
  margin-top: 30px;
}

.box-content-top img,
.box-content-middle img {
  /*max-width: 95%;*/
}

.box-content-top.last img,
.box-content-middle.last img{
  float: right;
}

.content-part.box-1 center,
.content-part.box-2 center {
  padding-bottom: 35px;
  display: inline-block;
}

.content-part.box-1 {
  margin: 50px 0px;
}

.text-part {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.image-part {
  float: left;
  width: 40%;
  padding-top: 20px;
}

.content-part.top,
.content-part.middle,
.content-part.bottom {
  padding-bottom: 20px;
}

.content-part.box-1 center img,
.content-part.box-2 center img {
  max-width: 89%;
}

.table-below-image {
  padding-top: 30px;
}


}


/*@media only screen and (min-width: 375px)and (max-width: 375px) {*/

.header_inner {
    text-align: center;
    padding: 12px 0px;
}

.logo img {
    max-width: 227px;
    padding-left: 64px;
    position: relative;
    top: -1px;
}

.logo {
    width: 75%;
    float: left;
    margin-left: 3%;
}

.button {
    right: 16px;
    top: 3px;
    font-size: 30px;
}

.overlay {
    top: 46px;
  }

.footer_banner {
    /*margin-bottom: 1px;*/
}

.wrap ul.wrap-nav {
    padding: 0px 0px 0px;
}
.wrap ul.wrap-nav>li.first {
    padding:9px 0 7px 0px;
}

.wrap ul.wrap-nav>li.second {
    padding:4px 0 9px 0px;
}

.wrap ul.wrap-nav>li.third {
    padding:2px 0 11px 0px;
}

ul.wrap-nav li.first img {
    max-width: 261px;
    margin: 0 auto;
    padding-left: 80px;
}

ul.wrap-nav li.second img {
    max-width: 313px;
    margin: 0 auto;
    padding-left: 28px;
}

ul.wrap-nav li.third img {
    max-width: 222px;
    margin: 0 auto;
    padding-left: 120px;
}

.social-icon-part {
    width: 39%;
}

.twitter, .facebook {
    max-width: 48px;
    float: left;
    margin-right: 2px;
    padding-top: 26px;
    padding-left: 8px;
}

.social-button-part img {
    max-width: 212px;
    margin-top: 18px;
    margin-left: 2px;
}

.section-second {
    padding: 35px 0px 25px 0px;
}
.banner_area > .banner > .banner_inner {
    margin-top: 214px;
}


img.section-top-text {
    width: 96%;
    padding-top: 0px;
}


.text-part {
    width: 56%;
    padding-top: 3px;
}

.image-part {
    padding-top: 0px;
}

img.Q1-title {
  padding-left: 3%;
  width: 98%;
}

img.Q1-image {
  max-width: 83%;
  padding-top: 5px;
  padding-left: 33%;
}

img.Q1-text {
  max-width: 88%;
  padding-left: 23%;
  padding-top: 15px;
}

img.Q2-title {
  max-width: 97.5%;
  padding-left: 2%;
}

img.Q2-image {
  padding-top: 14px;
  padding-left: 15%;
  width: 100%;
}

img.Q2-text {
  max-width: 81%;
  padding-left: 27%;
  padding-top: 21px;
}

img.Q3-title {
    max-width: 166px;
    padding-left: 5px;
}

img.Q3-image {
  max-width: 81%;
  padding-top: 21px;
  padding-left: 27%;
}

img.Q3-text {
  max-width: 90%;
  padding-left: 14%;
  padding-top: 14px;
}

img.chart-top {
  width: 100%;
  padding-left: 10%;
  margin-top: 1px;
}

img.chart-middle {
  width: 100%;
  padding-left: 10%;
  margin-top: -1px;
}

.content-part.top{
    padding-bottom: 7px;
}

 .content-part.middle{
    padding-bottom: 9px;
}

.content-part.bottom {
    padding-bottom: 9px;
}

img.chart-bottom {
  width: 100%;
  margin-left: 5%;
  margin-top: 2px;
}

img.chart-graph {
  max-width: 99.5%;
  margin-top: -1px;
  padding-left: 0.5%;
}

img.chart-pie_chart_last_image {
    max-width: 261px;
    text-align: center;
    margin: 0 auto;
    padding-top: 21px;
    margin-left: 38px;
}

.section-fourth img{
    max-width: 76.5%;
    padding-top: 3px;
}

 .section-fifth img {
   max-width: 75%;
   padding-top: 3px;
}

.section-fourth {
    background: #E70A19;
    padding: 20px 0px 24px;
}

.section-fifth {
    padding: 29px 0 0px;
}

.content-part.box-1 {
  margin: 21px 0px 30px;
}

.content-part.box-1 center img {
  max-width: 89%;
  margin: 0 auto;
  padding-top: 1px;
}

.content-part.box-2 center img {
    margin: 0px auto;
    padding-top: 1px;
}

.content-part.box-1 center, .content-part.box-2 center {
    padding-bottom: 8px;
    display: inline-block;
}

.right-part.Q3 {
  width: 50%;
}

.right-part.box-content-top.last {
  margin-left: 5%;
}

.right-part.box-content-middle.last {
  margin-left: 5%;
}

.left-part, .right-part {
    width: 47.2%;
    float: left;
}

.left-part {
    /*margin-right: -1px;
    margin-left: 2px;*/
}
.box-content-top img, .box-content-middle img {
  width: 100%;
  margin-left: 2%;
}

img.box-content-5 {
  margin-top: 17px!important;
  max-width: 48% !important;
  text-align: center;
  padding-left: 0%!important;
}

img.tabe {
  max-width: 99%;
  margin-top: 14px;
}

.table-below-image {
    padding-top: 23px;
}

img.table-below-image {
    max-width: 317px;
    padding-left: 49px;
}

.six_area img{
  max-width: 222px;
  padding: 15px 0px 20px;
  margin-left: -3px;
}

img.messagebox-title {
    max-width: 100%;
}

.seven_secton {
    padding-top: 36px;
}

.circle1{
  margin-right: 2%;
  width: 29.5%;
  float: left;
  margin-top: 16px;
  margin-left: 2.6%;
}

.circle2 {
  margin-right: 0%;
  width: 29.2%;
  float: left;
  margin-top: 17px;
  margin-left: 1.4%;
}

.circle3 {
  margin-right: 0%;
  width: 29%;
  float: left;
  margin-top: 18px;
  margin-left: 4%;
}
.message-box {
  margin-top: 15px;
  padding-left: 0.9%;
  width: 98.8%;
}
section.footer_banner img {
  margin-top: -10px;
  margin-left: 1%;
}

.card-banner {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card-banner img {
    max-width: 99%;
    position: relative;
}
.footer-inner p {
    margin-top: 1px;
}

/*}*/

/* for arroxs Nx */

@media only screen and (min-width: 360px) and (max-width: 360px) {

.footer-inner p {
    font-size: 10px;
}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* cushion page */

.cushion_header_area {
  width: 100%;
  height: 54px;
  position: fixed;
  top:0;
  z-index: 9;
  left: 0;
  background-color: #fff;
  border-bottom: medium solid #e6e6e6;
}

.cushion_inner_header {
  /*min-width: 1000px;*/
}

.cushion_header_area .left_logo {
  float: left;
  width: 32%;
  margin-top: 14px;
  margin-left: 4%;
}

.cushion_header_area .right_logo {
  float: right;
  width: 39%;
  margin-top: 19px;
  margin-right: 3%;
}

.link_area {
  margin-top: 70px;
  text-align: center;
}

.link_area h2 {
  font-size: 1em;
}

.link_area p {
  margin-top: 24px;
  font-size: 15px;
  line-height: 30px;
}

.logo_box {
  margin-top: 22px;
}

.logo_box .left_logo {
  width: 206px;
  margin-right: 21px;
}

.logo_box .right_logo {
  width: 264px;
}

.link_btn_box {
  margin-top: 22px;
  margin-bottom: 80px;
}

.link_btn_box img {
  width: 242px;
}

.cushion_footer-area {
  width: 100%;
  height: 54px;
  position: fixed;
  bottom: 0;
  z-index: 9;
  left: 0;
  border-top: medium solid #e6e6e6;
}

.cushion_footer-area {
  background-color: #fff;
}

.cushion_footer-area p {
  float: left;
  margin-left: 0.4%;
  font-size: 10px;
}
